@font-face {
  font-family: "Giants-bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR";
}

header {
  max-width: 1920px;
  width: 100%;
  /* height: 153px; */
  background-color: #10112f;
  position: relative;
}

.wrap {
  width: 100%;
  /* height: 100vh; */
  /* overflow-x: hidden; */
}

.mobile {
  display: none;
}

.m_user {
  display: none;
}

.top_menu {
  display: flex;
  position: absolute;
  right: 50px;
  padding-top: 10px;
  margin-bottom: 70px;
  margin-left: 35px;
  color: #ffffff;
}

.top_menu1 {
  margin-right: 35px;
  font-size: 18px;
}

.top_menu2 {
  margin-right: 35px;
  font-size: 18px;
}

.top_menu3 {
  font-size: 18px;
  width: 82px;
  height: 26px;
  text-align: center;
  border-radius: 13px;
  background-color: rgb(255, 25, 25);
}

.main_menu {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
  padding: 35px 20px;
  padding-bottom: 0;
  font-family: "Giants";
  color: rgb(255, 255, 255);
  font-size: 25px;
  align-items: center;
}

.LOGO > img {
  width: 157px;
  height: 118px;
}

.m_menubar {
  display: none;
}

.section1 > img {
  width: 100%;
  margin-bottom: 200px;
}

.section2 {
  margin: 0 auto;
  width: 1467px;
  height: 568px;
  /* background-color: darkblue; */
}

.section2_text {
  text-align: center;
}

.section2_title {
  /* max-width: 300px; */
  margin: 0 auto;
  /* width: 100%; */
  font-size: 60px;
  color: #313131;
  font-family: "Giants-Bold";
  text-align: center;
  margin-bottom: 70px;
}

.section2_box {
  display: flex;
  max-width: 1467px;
  width: 100%;
  padding: 30px;
  /* width: 1372.36px; */
  height: 439px;
  /* background-color: rgb(235, 235, 213); */
  margin: 0 auto;
  border-radius: 22px;
  border: 0px solid rgba(0, 0, 0, 16%);
  box-shadow: 1px 4px 7px 0px #00000029;
}

.section2_left {
  width: 65%;
  /* background-color: rgb(37,  117, 117); */
}

.section2_box_top {
  max-width: 908px;
  width: 100%;
  height: 85px;
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(255, 208, 208); */
  border-bottom: 1px solid #c3c0c054;
}

.section2_text1 {
  color: #757575;
  font-weight: 500;
  font-size: 28px;
}

.section2_text2 {
  color: #a0a0a0;
  font-weight: 400;
  font-size: 23px;
}

.section2_box_bottom1 {
  /* max-width: 867px; */
  width: 100%;
  height: 247px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
  padding-bottom: 0px;
}

.lotte {
  align-items: center;
}

.lotte > img {
  max-width: 146.26px;
  width: 100%;
  /* height: 109.85px; */
}

.lotte > p {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  color: #636363;
  font-weight: 700;
}

.nc > img {
  max-width: 160.41px;
  width: 100%;
  /* height: 110.41px; */
}

.nc > p {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  color: #636363;
  font-weight: 700;
}

.score {
  max-width: 220px;
  width: 100%;
  height: 137px;
  display: flex;
  line-height: 150px;
  font-size: 110px;
  font-weight: 700;
  justify-content: space-between;
}

.vs {
  font-size: 50px;
  font-weight: bolder;
  /* margin-left: 10px; */
  color: #a1a1a1;
  /* margin-right: 15px; */
}

.section2_right {
  align-self: center;
  margin-right: 20px;
}

.section2_right > img {
  max-width: 480px;
  width: 100%;
  border-radius: 20px;
}

.fa-solid,
.fas {
  font-size: 35px;
  font-weight: 900;
  color: #959595;
}

.score_info_box {
  max-width: 800px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin: 0 auto;
  padding-right: 40px;

  /* background-color:  #10112f; */
}

.score_info {
  max-width: 145px;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
  background-color: #cccccc;
  border-radius: 9px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.section3_title {
  /* font-size: 70px; */
  font-family: "Giants-Bold";
  text-align: center;
  margin-top: 250px;
  font-size: 60px;
  color: #313131;
  /* margin-bottom: 30px; */
}

.section3 {
  margin: 0 auto;
}

.section3_box {
  display: flex;
  max-width: 1346px;
  width: 90%;
  /* background-color: gainsboro; */
  margin: 0 auto;
  justify-content: space-between;
  padding: 50px 0px;
}

.section3_1 {
  border: 0px solid rgba(0, 0, 0, 16%);
  box-shadow: 1px 4px 7px 0px #00000029;
  width: 32%;
  height: 300px;
  border-radius: 30px;
  padding: 40px 50px;
  position: relative;
}

.section3_1 > p {
  font-size: 28px;
  margin-bottom: 12px;
  font-weight: 600;
}

.section3_1 > span {
  font-size: 20px;
  color: #a0a0a0;
}

.section3_1 > img {
  width: 238px;
  z-index: 999;
  margin-top: 35px;
  /* position: absolute;
  top: -20px;
  left: -70px; */
}

.section3_2 {
  border: 0px solid rgba(0, 0, 0, 16%);
  box-shadow: 1px 4px 7px 0px #00000029;
  width: 32%;
  height: 300px;
  border-radius: 30px;
  padding: 40px 50px;
  position: relative;
}

.section3_2 > p {
  font-size: 28px;
  margin-bottom: 12px;
  font-weight: 600;
}

.section3_2 > span {
  font-size: 20px;
  color: #a0a0a0;
}

.section3_2 > img {
  width: 139px;
  margin-top: 20px;

  /* position: absolute;
  top: -20px;
  left: -70px; */
}

.section3_3 {
  /* background-color: wheat; */
  /* border: ; */
  border: 0px solid rgba(0, 0, 0, 16%);
  box-shadow: 1px 4px 7px 0px #00000029;
  width: 32%;
  height: 300px;
  border-radius: 30px;
  padding: 40px 50px;
  position: relative;
}

.section3_3 > p {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 600;
}

.section3_3 > span {
  font-size: 20px;
  color: #a0a0a0;
}

.section3_3 > img {
  width: 207px;
  margin-top: 20px;
  /* z-index: 999; */
  /* position: absolute;
  top: -20px;
  left: -70px; */
}

.section4 {
  /* margin: 150px 0; */
  width: 1563px;
  /* height: 644px; */
  margin: 0 auto;
}

.section4_title {
  /* font-size: 70px; */
  font-family: "Giants-Bold";
  text-align: left;
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 60px;
  color: #313131;
}

.section4_box {
  display: flex;
  max-width: 1563px;
  width: 100%;
  /* height: 480px; */
  /* height: 315px; */
  /* background-color: rgb(235, 235, 213); */
  margin: 0 auto;
  /* border-radius: 22px; */
  /* border: 1px solid black; */
  justify-content: space-between;
}

.section4_1 {
  width: 24%;
  border: 0px solid rgba(0, 0, 0, 16%);
  box-shadow: 1px 4px 7px 0px #00000029;
}
.section4_2 {
  width: 24%;
  border: 0px solid rgba(0, 0, 0, 16%);
  box-shadow: 1px 4px 7px 0px #00000029;
}
.section4_3 {
  width: 24%;
  border: 0px solid rgba(0, 0, 0, 16%);
  box-shadow: 1px 4px 7px 0px #00000029;
}
.section4_4 {
  width: 24%;
  border: 0px solid rgba(0, 0, 0, 16%);
  box-shadow: 1px 4px 7px 0px #00000029;
}
.section4_1 > img {
  width: 100%;
  overflow: hidden;
  /* height: 278.46px; */
}
.section4_2 > img {
  width: 100%;
  overflow: hidden;
}
.section4_3 > img {
  width: 100%;
  overflow: hidden;
}
.section4_4 > img {
  width: 100%;
  overflow: hidden;
}

.section4_text1 {
  font-size: 21px;
  margin-top: 20px;
  margin-left: 15px;
  font-weight: 500;
}

.section4_text2 {
  font-size: 15px;
  margin: 20px 15px;
  font-weight: 500;
  color: #9a9a9a;
}

.section4_text3 {
  font-size: 13px;
  margin: 35px 15px;
  color: #9a9a9a;
}

.section5 {
  width: 1563px;
  height: 794px;
  /* background-color: rgb(243, 243, 231); */
  margin: 0 auto;
}

.section5_box {
  display: flex;
}

.section5_title {
  /* font-size: 70px; */
  font-family: "Giants-Bold";
  text-align: left;
  margin-top: 200px;
  margin-bottom: 50px;
  font-size: 60px;
  color: #313131;
}

.section5_left > img {
  width: 781.25px;
}

.section5_text1 {
  font-size: 27px;
  margin-top: 30px;
  font-weight: 500;
}

.section5_text2 {
  font-size: 22px;
  display: flex;
  margin-top: 35px;
  color: #9a9a9a;
}

.section5_left {
  border-right: 1px solid #c3c0c054;
  padding-right: 30px;
}

.section5_right {
  margin-left: 20px;
}

.section5_right1 {
  display: flex;
  margin-bottom: 40px;
}

.section5_right2 {
  display: flex;
}

.section5_right1 > img {
  width: 418px;
}

.section5_right2 > img {
  width: 418px;
}

.section5_text3 {
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 25px;
  font-weight: 500;
}

.section5_text4 {
  font-size: 18px;
  color: #9a9a9a;
  margin-left: 20px;
  font-weight: 400;
}

.new{
  margin-top: 5px;
  margin-left: 15px;
  width: 18px;
}

.section6_title {
  /* font-size: 70px; */
  font-family: "Giants-Bold";
  text-align: left;
  margin-top: 150px;
  margin-bottom: 50px;
  display: flex;
  position: relative;
  font-size: 60px;
  color: #313131;
}

.section6 {
  max-width: 1563px;
  /* height: 794px; */
  /* background-color: rgb(243, 243, 231); */
  margin: 0 auto;
}

.plus2 {
  position: absolute;
  right: 20px;
  top: 15px;
}
.plus2 > img {
  width: 27px;
}

.section4_title {
  /* font-size: 70px; */
  font-family: "Giants-Bold";
  text-align: left;
  margin-top: 150px;
  margin-bottom: 50px;
  display: flex;
  position: relative;
  font-size: 60px;
  color: #313131;
}
.plus1 {
  position: absolute;
  right: 20px;
  top: 15px;
}
.plus1 > img {
  width: 27px;
}

.plus3 {
  display: none;
}

.section6_box {
  display: flex;
  max-width: 1563px;
  width: 100%;
  /* height: 480px; */
  /* width: 1372.36px; */
  /* height: 315px; */
  /* background-color: rgb(235, 235, 213); */
  margin: 0 auto;
  /* border-radius: 22px; */
  /* border: 1px solid black; */
  justify-content: space-between;
}

.section6_1 {
  width: 24%;
  border: 0px solid rgba(0, 0, 0, 16%);
  box-shadow: 1px 4px 7px 0px #00000029;
}
.section6_2 {
  width: 24%;
  border: 0px solid rgba(0, 0, 0, 16%);
  box-shadow: 1px 4px 7px 0px #00000029;
}
.section6_3 {
  width: 24%;
  border: 0px solid rgba(0, 0, 0, 16%);
  box-shadow: 1px 4px 7px 0px #00000029;
}
.section6_4 {
  width: 24%;
  border: 0px solid rgba(0, 0, 0, 16%);
  box-shadow: 1px 4px 7px 0px #00000029;
}
.section6_1 > img {
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
  /* height: 278.46px; */
}
.section6_2 > img {
  width: 100%;
  overflow: hidden;

  /* height: 278.46px; */
}
.section6_3 > img {
  width: 100%;
  overflow: hidden;

  /* height: 278.46px; */
}
.section6_4 > img {
  width: 100%;
  overflow: hidden;

  /* height: 278.46px; */
}

.section6_text1 {
  font-size: 21px;
  margin-top: 35px;
  margin-left: 15px;
  font-weight: 500;
  color: #303030;
}

.section6_text2 {
  font-size: 18px;
  margin: 5px 15px;
  font-weight: 500;
  color: #303030;
}

.section6_text3 {
  font-size: 15px;
  margin: 25px 15px;
  color: #9a9a9a;
}

.footer_img {
  max-width: 1480px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 170px;

  /* margin: 0 auto; */
}
.footer_bottom_text_m {
  display: none;
}

footer {
  /* width: 100vw; */
  max-width: 1920px;
  width: 100%;
  height: 295px;
  margin: 0 auto;
  background-color: #000000;
  color: #838383;
  /* padding: 80px 179px; */
}

.footer_wrap {
  padding-top: 70px;
  max-width: 1563px;
  width: 90%;
  height: 295px;
  /* margin: 150px 150px; */
  margin: 0 auto;
  /* background-color: cadetblue; */
}

.footer_top_text {
  width: 100%;
  font-size: 17px;
  display: flex;
  /* margin-right: 45px; */
  margin-bottom: 40px;
  font-weight: 400;
}

.footer1 {
  margin-right: 45px;
}
.footer2 {
  margin-right: 45px;
}
.footer3 {
  margin-right: 45px;
}

.footer_bottom_text {
  width: 100%;
  font-size: 17px;
  font-weight: 400;
}

.bottom_text1 {
  margin-bottom: 10px;
}

@media (max-width: 1680px) {
  .section2 {
    margin: 0 auto;
    width: 90%;
    height: 568px;
    /* background-color: darkblue; */
  }

  .section2_text {
    text-align: center;
  }

  .section2_title {
    /* font-size: 6vw; */
    font-family: "Giants-Bold";
    text-align: center;
    margin-bottom: 70px;
    font-size: 60px;
  color: #313131;
  }

  .section2_box {
    display: flex;
    width: 100%;
    /* padding: 50px; */
    /* width: 1372.36px; */
    height: 439px;
    /* background-color: rgb(235, 235, 213); */
    margin: 0 auto;
    border-radius: 22px;
    border: 0px solid rgba(0, 0, 0, 16%);
    box-shadow: 1px 4px 7px 0px #00000029;
  }

  .section2_left {
    width: 65%;
    /* background-color: rgb(37,  117, 117); */
  }

  .section2_box_top {
    width: 95%;
    display: flex;
    /* padding: 20px 50px; */
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(255, 208, 208); */
    border-bottom: 1px solid #c3c0c054;
  }

  .section2_text1 {
    color: #757575;
    font-weight: 500;
    /* font-size: 180%; */
  }

  .section2_text2 {
    color: #a0a0a0;
    font-weight: 400;
    font-size: 23px;
  }

  .section2_box_bottom1 {
    /* width: 95%; */
    display: flex;
    justify-content: space-between;
    /* padding: 40px 15px; */
    /* padding-bottom: 0px; */
  }

  .lotte {
    align-items: center;
  }

  .lotte > img {
    width: 100%;
  }

  .lotte > p {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    color: #636363;
    font-weight: 700;
  }

  .nc > img {
    width: 100%;
    /* width: 160.41px; */
    /* height: 110.41px; */
  }

  .nc > p {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    color: #636363;
    font-weight: 700;
  }

  .score {
    width: 220px;
    height: 137px;
    display: flex;
    line-height: 150px;
    font-size: 110px;
    font-weight: 700;
    justify-content: space-between;
  }

  .vs {
    font-size: 50px;
    font-weight: bolder;
    /* margin-left: 10px; */
    color: #a1a1a1;
    /* margin-right: 15px; */
  }

  .score_6 {
    font-size: 7vw;
    /* margin-left: 15px; */
  }

  .score_3 {
    /* margin-right: 15px; */
    font-size: 7vw;
  }

  .section2_right {
    align-self: center;
    margin-right: 20px;
  }

  .section2_right > img {
    width: 100%;
    border-radius: 20px;
  }

  .fa-solid,
  .fas {
    font-size: 35px;
    font-weight: 900;
    color: #959595;
  }

  .score_info_box {
    width: 100%;
    text-align: center;
    /* margin-top: -11px;
    margin-right: 288px; */

    /* background-color:  #10112f; */
  }

  .score_info {
    width: 145px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    background-color: #cccccc;
    border-radius: 9px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
  }

  .section3_title {
    /* font-size: 6vw; */
    font-family: "Giants-bold";
    font-size: 60px;
  color: #313131;
  }

  .section3 {
    margin: 0 auto;
  }

  .section3_box {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 0px;
  }

  .section3_1 {
    border: 0px solid rgba(0, 0, 0, 16%);
    box-shadow: 1px 4px 7px 0px #00000029;
    width: 32%;
    height: 300px;
    border-radius: 30px;
    padding: 40px 50px;
    /* position: relative; */
  }

  .section3_1 > p {
    font-size: 28px;
    margin-bottom: 12px;
    font-weight: 600;
  }

  .section3_1 > span {
    font-size: 20px;
    color: #a0a0a0;
  }

  .section3_1 > img {
    width: 238px;
    z-index: 999;
    margin-top: 35px;
  }

  .section3_2 {
    border: 0px solid rgba(0, 0, 0, 16%);
    box-shadow: 1px 4px 7px 0px #00000029;
    width: 32%;
    height: 300px;
    border-radius: 30px;
    padding: 40px 50px;
    /* position: relative; */
  }

  .section3_2 > p {
    font-size: 28px;
    margin-bottom: 12px;
    font-weight: 600;
  }

  .section3_2 > span {
    font-size: 20px;
    color: #a0a0a0;
  }

  .section3_2 > img {
    width: 139px;
    margin-top: 20px;
  }

  .section3_3 {
    border: 0px solid rgba(0, 0, 0, 16%);
    box-shadow: 1px 4px 7px 0px #00000029;
    width: 32%;
    height: 300px;
    border-radius: 30px;
    padding: 40px 50px;
  }

  .section3_3 > p {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 600;
  }

  .section3_3 > span {
    font-size: 20px;
    color: #a0a0a0;
  }

  .section3_3 > img {
    width: 207px;
    margin-top: 20px;
  }

  .section4 {
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }

  .section4_title {
    font-size: 60px;
  color: #313131;
  }

  .section4_box {
    display: flex;

    /* height: 500px; */

    margin: 0 auto;
    justify-content: space-between;
  }

  .section4_text1 {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 15px;
    font-weight: 500;
  }

  .section4_text2 {
    font-size: 14px;
    margin: 20px 15px;
    font-weight: 500;
    color: #9a9a9a;
  }

  .section4_text3 {
    font-size: 13px;
    margin: 35px 15px;
    color: #9a9a9a;
  }

  .section5 {
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }

  .section5_box {
    display: flex;
  }

  .section5_title {
    font-size: 60px;
  color: #313131;
  }

  .section5_left {
    border-right: 1px solid #c3c0c054;
    padding-right: 50px;
  }

  .section5_right {
    margin-left: 50px;
  }

  .section5_left > img {
    width: 40vw;
  }

  .new{
    margin-top: 0px;
    margin-left: 0px;
    width: 18px;
  }

  .section5_text2 {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 500;
    display: flex;
  }

  .section5_text2 {
    font-size: 18px;
    margin-top: 35px;
    color: #9a9a9a;
  }

  .new > img {
    margin-left: 10px;
    margin-top: 3px;
    width: 18px;
  }

  .section5_right1 {
    display: flex;
    margin-bottom: 40px;
  }

  .section5_right2 {
    display: flex;
  }

  .section5_right1 > img {
    width: 50%;
  }

  .section5_right2 > img {
    width: 50%;
  }

  .section5_text3 {
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 25px;
    font-weight: 500;
  }

  .section5_text4 {
    font-size: 16px;
    color: #9a9a9a;
    margin-left: 20px;
    font-weight: 400;
  }

  .section6_title {
    font-size: 60px;
  color: #313131;
  }

  .section6 {
    width: 90%;
    /* height: 90%; */
    margin: 0 auto;
  }

  .section6_box {
    display: flex;
    width: 100%;
    /* height: 70vh; */
    margin: 0 auto;
    justify-content: space-between;
  }

  .footer_img {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 180px;
  }
  footer {
    width: 100%;
    height: 295px;
    margin: 0 auto;
    background-color: #000000;
    color: #838383;
  }

  .footer_wrap {
    padding-top: 70px;
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  header {
    width: 100%;
    height: 12vh;
    /* position: relative; */
    display: flex;
    justify-content: space-between;
  }
  .m_1 {
    display: none;
  }

  .top_menu {
    display: none;
  }

  .LOGO {
    /* width: 30%; */
    height: 12vh;
    margin: 0 auto;
  }

  .LOGO > img {
    width: 100%;
    height: 100%;
  }

  .main_menu {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .m_menubar {
    max-width: 50px;
    width: 33%;
    height: 50px;
    display: block;
    margin-left: 35px;
    /* margin-top: 15px; */
    padding-top: 15px;
    /* position: absolute; */
  }
  .m_menubar > img {
    width: 40px;
    /* padding: 0px; */
  }

  .m_user {
    display: block;
    max-width: 50px;
    width: 33%;
    height: 50px;
    margin-right: 20px;
    padding-top: 7px;
  }

  .m_user > img {
    width: 40px;
    height: 40px;
  }

  .mobile {
    display: block;
  }

  .section2_right > img {
    display: none;
  }
  .section2_left {
    width: 100%;
  }

  .section2_box_bottom1 {
    /* width: 100%; */
    justify-content: space-between;
  }

  .section2_box {
    padding: 0px;
    margin: 0 auto;
  }

  .section2_box_top {
    padding: 76px 9px;
  }

  .section2_right {
    display: none;
  }
  .section2_text1 {
    font-size: 3vw;
  }
  .section2_text2 {
    font-size: 2.5vw;
  }

  .score_info_box {
    padding: 0;
  }

  .score_6 {
    font-size: 12vw;
  }
  .score_3 {
    font-size: 12vw;
  }

  .lotte {
    margin-top: 25px;
  }
  .nc {
    margin-top: 25px;
  }
  .lotte > p {
    font-size: 3vw;
    align-items: center;
    text-align: center;
    font-weight: 600;
  }

  .section2_left {
    width: 100%;
  }
  .nc > p {
    font-size: 3vw;
    align-items: center;
    text-align: center;
  }
  .vs {
    font-size: 8vw;
  }

  .score_info {
    margin-top: -25px;
  }
  /* .section2_box_bottom {
    margin-right: -50px;
  } */
  .section2_box_top {
    max-width: 1375px;
    margin: 0 auto;
  }
  /* .section2_box_bottom1 {
    max-width: 1175px; */
  /* margin: 0 auto; */
  /* padding: 7px 81px;
  } */
  .section3_box {
    flex-direction: column;
  }
  .new {
    margin-top: 0px; 
     margin-left: 0px;
}
.plus2 > img {
  width: 22px;
}

  .section5_title {
    position: relative;
  }

  .plus3 {
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
  }
  .plus3 > img {
    display: block;
    width: 22px;
  }

  .plus1 > img {
    width: 22px;
}
  .section6_box {
    max-width: 1100px;
    width: 100%;
    justify-content: space-between;
  }
  .section6_1 {
    width: 37%;
    margin: 0px 5px;
  }
  .section6_2 {
    width: 37%;
    margin: 0px 5px;
  }
  .section6_3 {
    width: 37%;
    margin: 0px 5px;
  }
  .section6_4 {
    display: none;
  }

  .section4_box {
    max-width: 1100px;
    width: 100%;
    justify-content: space-between;
  }
  .section4_1 {
    width: 37%;
    margin: 0px 5px;
  }
  .section4_2 {
    width: 37%;
    margin: 0px 5px;
  }
  .section4_3 {
    width: 37%;
    margin: 0px 5px;
  }
  .section4_4 {
    display: none;
  }

  .section4_text2 {
    font-weight: 400;
  }

  .section3_1 {
    border: 0px solid rgba(0, 0, 0, 16%);
    box-shadow: 1px 4px 7px 0px #00000029;
    width: 100%;
    height: 33%;
    border-radius: 15px;
    padding: 50px 30px;
    position: relative;
    margin-bottom: 45px;
  }
  .section3_2 {
    border: 0px solid rgba(0, 0, 0, 16%);
    box-shadow: 1px 4px 7px 0px #00000029;
    width: 100%;
    height: 33%;
    border-radius: 15px;
    padding: 50px 30px;
    margin-bottom: 45px;
  }
  .section3_3 {
    border: 0px solid rgba(0, 0, 0, 16%);
    box-shadow: 1px 4px 7px 0px #00000029;
    width: 100%;
    height: 33%;
    border-radius: 15px;
    padding: 50px 30px;
  }
  section2_box_bottom1 {
    padding: 0px 10px;
  }
  .section3_1 > img {
    width: 256px;
    z-index: 999;
    margin-top: 30px;
    position: absolute;
    right: 15px;
    top: 4px;
  }
  .section3_2 > img {
    width: 150px;
    z-index: 999;
    margin-top: 14px;
    position: absolute;
    right: 35px;
    top: -5px;
  }
  .section3_3 > img {
    width: 200px;
    z-index: 999;
    margin-top: 11px;
    position: absolute;
    right: 15px;
    top: 10px;
  }
  .section3_1 > p {
    font-weight: 500;
    font-size: 28px;
  }
  .section3_1 > span {
    font-weight: 400;
    font-size: 15px;
  }
  .section3_2 > p {
    font-weight: 500;
    font-size: 28px;
  }
  .section3_2 > span {
    font-weight: 400;
    font-size: 15px;
  }
  .section3_3 > p {
    font-weight: 500;
    font-size: 28px;
  }
  .section3_3 > span {
    font-weight: 400;
    font-size: 15px;
  }
  .section6_text1 {
    font-size: 1.5vw;
    color: #303030;
  }
  .section5_text3 {
    margin-bottom: 0;
  }

  .section5_box {
    flex-direction: column;
  }
  .section5_left > img {
    width: 80%;
  }
  .section5_left {
    padding-right: 0px;
    margin-bottom: 25px;
    border: 0;
  }

  .section5_right {
    margin-left: 0px;
  }
  .section5_right1 {
    margin-bottom: 30px;
  }

  .section5_text3 {
    font-size: 18px;
    /* margin-bottom: 120px; */
  }
  .section5_text1 {
    font-size: 20px;
    /* margin-bottom: -25px; */
  }
  .section5_text2 {
    font-size: 2.5vw;
    /* margin-bottom: 10px; */
  }

  /* #section5_3 {
    margin-bottom: 120px;
  } */

  .section5_text4 {
    font-size: 2vw;
  }

  .section5_right_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .section5_text2 {
    font-size: 18px;
    margin-top: 15px;
    color: #9a9a9a;
  }
  .section5_text4 {
    font-size: 17px;
    /* margin-top: 35px; */
    color: #9a9a9a;
  }

  .new > img {
     margin-left: 10px; 
     margin-top: 4px; 
    width: 18px;
  }

  .new {
    margin-top: 0px; 
     margin-left: 0px;
}

  .section6_text2 {
    font-size: 2vw;
    margin-top: 1px;
    color: #303030;
  }
  .section6_text1 {
    font-size: 2vw;
    margin-top: 20px;
    color: #303030;
  }
  .section6_text3 {
    font-size: 1.4vw;
    margin-top: 35px;
    /* margin-bottom: -50px; */
  }

  footer {
    margin-top: 150px;
  }

  .footer_img {
    display: none;
  }
}
@media (max-width: 900px) {
  .section4_3 {
    display: none;
  }
  .section4_2 {
    width: 48%;
  }
  .section4_1 {
    width: 48%;
  }
  .section6_3 {
    display: none;
  }
  .section6_2 {
    width: 48%;
  }
  .section6_1 {
    width: 48%;
  }
}

@media (max-width: 560px) {
  /* .wrap {
    overflow-x: hidden;
  } */

  header {
    width: 100%;
    height: 8vh;
    /* position: relative; */
    display: flex;
    justify-content: space-between;
  }
  .m_1 {
    display: none;
  }

  .top_menu {
    display: none;
  }

  .LOGO {
    /* width: 30%; */
    height: 8vh;
    margin: 0 auto;
  }

  .LOGO > img {
    width: 100%;
    height: 100%;
  }

  .main_menu {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .m_menubar {
    max-width: 50px;
    width: 33%;
    height: 50px;
    display: block;
    margin-left: 15px;
    /* margin-top: 15px; */
    padding-top: 15px;
    /* position: absolute; */
  }
  .m_menubar > img {
    width: 26px;
    /* padding: 0px; */
  }

  .m_user {
    display: block;
    max-width: 50px;
    width: 33%;
    height: 50px;
    margin-right: -3px;
    padding-top: 10px;
  }

  .m_user > img {
    width: 26px;
    height: 26px;
  }

  .mobile {
    display: block;
  }

  .section1 {
    width: 100%;
    height: 600px;
    margin-bottom: 150px;
  }

  .section1 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section2_title {
    font-size: 9vw;
    /* margin-top: -90px; */
    /* margin-bottom: 30px; */
  }

  .section3_title {
    font-size: 9vw;
    margin-top: 120px;
  }
  .section4_title {
    font-size: 9vw;
    margin-top: 80px;
  }
  .section5_title {
    font-size: 9vw;
    margin-top: 100px;
  }
  .section6_title {
    font-size: 9vw;
    margin-top: 130px;
  }

  .section2_right > img {
    display: none;
  }
  .section2_left {
    width: 100%;
  }

  .section2_box_bottom1 {
    width: 100%;
    justify-content: space-between;
  }

  .section2_box {
    padding: 0px;
    margin: 0 auto;
  }

  .section2_box_top {
    padding: 65px 9px;
  }

  .section2_right {
    display: none;
  }
  .section2_text1 {
    font-size: 24px;
  }
  .section2_text2 {
    font-size: 21px;
  }
  .score_info_box {
    margin: -40px auto;
  }

  .score_info_box {
    padding: 0;
  }

  .score_6 {
    font-size: 15vw;
  }
  .score_3 {
    font-size: 15vw;
  }

  .lotte {
    margin-top: 25px;
  }
  .nc {
    margin-top: 25px;
  }
  .lotte > p {
    font-size: 5vw;
    align-items: center;
    text-align: center;
  }
  .nc > p {
    font-size: 5vw;
    align-items: center;
    text-align: center;
  }
  .vs {
    font-size: 11vw;
  }

  .score_info {
    max-width: 145px;
    width: 100%;
    /* margin-top: -25px; */
    margin: 0 auto;
  }

  .section3_box {
    flex-direction: column;
  }

  .score {
    margin: 0 20px;
  }

  .section3_1 {
    border: 0px solid rgba(0, 0, 0, 16%);
    box-shadow: 1px 4px 7px 0px #00000029;
    width: 100%;
    height: 33%;
    border-radius: 15px;
    padding: 30px 30px;
    position: relative;
    margin-bottom: 45px;
  }
  .section3_2 {
    border: 0px solid rgba(0, 0, 0, 16%);
    box-shadow: 1px 4px 7px 0px #00000029;
    width: 100%;
    height: 33%;
    border-radius: 15px;
    padding: 30px 30px;
    margin-bottom: 45px;
  }
  .section3_3 {
    border: 0px solid rgba(0, 0, 0, 16%);
    box-shadow: 1px 4px 7px 0px #00000029;
    width: 100%;
    height: 33%;
    border-radius: 15px;
    padding: 30px 30px;
  }
  /* .section2_box_bottom1 {
    padding: 0px 10px;
  } */
  .section3_1 > img {
    width: 33%;
    z-index: 999;
    margin-top: 14px;
    position: absolute;
    right: 15px;
    top: 18px;
  }
  .section3_2 > img {
    width: 20%;
    z-index: 999;
    margin-top: 14px;
    position: absolute;
    right: 35px;
    top: 6px;
  }
  .section3_3 > img {
    width: 27%;
    z-index: 999;
    margin-top: 14px;
    position: absolute;
    right: 15px;
    top: 13px;
  }
  .section3_1 > p {
    font-weight: 500;
    font-size: 4.5vw;
  }
  .section3_1 > span {
    font-weight: 400;
    font-size: 3.5vw;
  }
  .section3_2 > p {
    font-weight: 500;
    font-size: 4.5vw;
  }
  .section3_2 > span {
    font-weight: 400;
    font-size: 3.5vw;
  }
  .section3_3 > p {
    font-weight: 500;
    font-size: 4.5vw;
  }
  .section3_3 > span {
    font-weight: 400;
    font-size: 3.5vw;
  }
  .section4_box {
    width: 90vw;
    /* height: 1200px; */
    /* background-color: cadetblue; */
    flex-direction: column;
  }
  .section4_1 {
    margin: 0 auto;
    width: 100%;
    /* height: 37%; */
    border: 0px solid rgba(0, 0, 0, 16%);
    box-shadow: 1px 4px 7px 0px #00000029;
    margin-bottom: 24px;
  }
  .section4_2 {
    margin: 0 auto;
    width: 100%;
    /* height: 37%; */
    border: 0px solid rgba(0, 0, 0, 16%);
    box-shadow: 1px 4px 7px 0px #00000029;
    margin-bottom: 24px;
  }
  .section4_3 {
    margin: 0 auto;
    width: 100%;
    /* height: 37%; */
    border: 0px solid rgba(0, 0, 0, 16%);
    box-shadow: 1px 4px 7px 0px #00000029;
    margin-bottom: 24px;
  }
  .section4_4 {
    display: none;
  }

  .section4_text1 {
    font-size: 5vw;
    color: #303030;
  }
  .section4_text2 {
    margin-top: 5px;
    font-size: 3.5vw;
    font-weight: 400;
  }
  .section4_text3 {
    margin-top: 20px;
    margin-bottom: 17px;
  }

  .section5_box {
    flex-direction: column;
  }
  .section5_left > img {
    width: 100%;
  }
  .section5_left {
    padding-right: 0px;
    margin-bottom: 40px;
    border: 0;
  }
  .section5_text2 {
    font-size: 4vw;
    margin-top: 20px;
    color: #9a9a9a;
  }
  .section5_right {
    margin-left: 0px;
  }
  .section5_right1 {
    margin-bottom: 40px;
  }
  .new {
    margin-top: 0px; 
     margin-left: 0px;
}

  .section5_text3 {
    font-size: 2.9vw;
    margin-bottom: 30px;
  }

  #section5_3 {
    margin-bottom: 47px;
  }

  .section5_text1 {
    font-size: 20px;
    margin-top: 15px;
  }
  .section5_text3 {
    font-size: 20px;
    margin: 0px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  #section5_3 {
    margin-bottom: 15px;
  }
  .section5_text2 {
    font-size: 17px;
    margin-top: 35px;
    color: #9a9a9a;
  }
  .section5_text4 {
    font-size: 17px;
    margin-top: 35px;
    color: #9a9a9a;
    margin: 0px;
    font-weight: 500;
  }

  #section5_2 {
    margin-bottom: 35px;
  }

  .new > img {
    margin-left: 5px;
    margin-top: 3px;
    width: 3vw;
  }
  .section5_right1 > img {
    width: 100%;
  }
  .section5_right1 {
    flex-direction: column;
  }
  .section5_right2 > img {
    width: 100%;
  }
  .section5_right2 {
    flex-direction: column;
  }

  .section6_box {
    width: 90vw;
    /* height: 1200px; */
    /* background-color: cadetblue; */
    flex-direction: column;
  }
  .section6_1 {
    margin: 0 auto;
    width: 100%;
    /* height: 37%; */
    border: 0px solid rgba(0, 0, 0, 16%);
    box-shadow: 1px 4px 7px 0px #00000029;
    margin-bottom: 24px;
  }
  .section6_2 {
    margin: 0 auto;
    width: 100%;
    /* height: 37%; */
    border: 0px solid rgba(0, 0, 0, 16%);
    box-shadow: 1px 4px 7px 0px #00000029;
    margin-bottom: 24px;
  }

  .section6_3 {
    margin: 0 auto;
    width: 100%;
    /* height: 37%; */
    border: 0px solid rgba(0, 0, 0, 16%);
    box-shadow: 1px 4px 7px 0px #00000029;
    margin-bottom: 24px;
  }
  .section6_4 {
    display: none;
  }

  .section6_text1 {
    font-size: 5vw;
    color: #303030;
  }

  .section6_text2 {
    font-size: 4vw;
    margin-top: 1px;
    color: #303030;
  }
  .section6_text3 {
    margin-top: 20px;
    margin-bottom: 17px;
    font-size: 16px;
  }

  .section5_right_text {
    width: 100%;
  }
  .section4_3 {
    display: block;
  }
  .section6_3 {
    display: block;
  }
  .footer_img {
    display: none;
  }
  .footer_wrap {
    padding-top: 70px;
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }

  .footer_top_text {
    display: none;
  }
  .footer_bottom_text {
    display: none;
  }
  .footer_bottom_text_m {
    display: block;
    font-size: 14px;
    justify-content: center;
    align-items: center;
  }

  .m_bottom_text1 {
    line-height: 2;
  }
  .m_bottom_text2 {
    margin-top: 20px;
  }
}
